body {
  font-family: 'Source Code Pro', serif;
  height: 100%;
  background-color: #FAFAFA;
}
html {
  height: 100%;
}
.renderjson a {
  text-decoration: none;
}

.renderjson .disclosure {
  color: crimson;
}

.renderjson .syntax {
  color: grey;
}

.renderjson .string {
  color: red;
}

.renderjson .number {
  color: cyan;
}

.renderjson .boolean {
  color: plum;
}

.renderjson .key {
  color: lightblue;
}

.renderjson .keyword {
  color: lightgoldenrodyellow;
}

.renderjson .object.syntax {
  color: lightseagreen;
}

.renderjson .array.syntax {
  color: lightsalmon;
}

.rwrl {
	height: 40px;
	width: 89px;
	color: #333333;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}
.exploitation-vs-exp {
	height: 40px;
	width: 385px;
	color: #333333;
	font-size: 24px;
	letter-spacing: -0.67px;
	line-height: 40px;
}

.page-title {
  margin-top: 55px;
  margin-bottom: 40px;
  /* margin-left: 0; */
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}



@media only screen and (min-width : 576px) {
  .page-title {
    /* margin-left: -30px; */
  }
}

.info-header {
  background-color: #FFFFFF;
  padding: 8px;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 0 0 1px 0;
}
.info-title {
  color: #000000;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #4e4e4e;

}

.speech-bubble {
  position: relative;
  border-radius: 4px;
  width: fit-content;
  margin: 5px;
  max-width: 80%;
  font-family: "Segoe UI";
  font-size: 14px;
  border: 1px solid #33333316;

}

.speech-bubble-bot {
  margin-right: auto;
  /* background-color: #4A4A4A; */
  background-color: #FFFFFF;
  color: #333333;
  line-height: 18px;
}

.speech-bubble-user {
  background: #cecece;
  margin-left: auto;
  color: #9013FE;
    letter-spacing: 0.05px;
  line-height: 20px;
  background-color: #F6ECFF;
}

.speech-bubble-text {
  padding: 10px;
}

.gradient {
  background: linear-gradient(179.51deg, #FFF9DE 0%, #D1C4DF 100%);
}

.left-col {
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-right: 20px; */
  /* flex-grow: 1; */
  /* border-style: solid;
  border-width: 2px; */
  /* max-width: 33%; */
  /* background-color: rgba(223,227,234,0.3); */

}

.right-col {
  /* background-color: rgba(223,227,234,0.2); */
}

.info-bar {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-family: "Segoe UI";
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.05px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}



.info-bottom-row {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  border-width: 2px 0 0 0;
  border-style: solid;
  /* flex-grow: 1; */
}


.top-right-corner {
  border-top-right-radius: 0;
}

.bottom-right-corner {
  border-bottom-right-radius: 0;
}

.top-left-corner {
  border-top-left-radius: 0;
}

.bottom-left-corner {
  border-bottom-left-radius: 0;
}
.choice-btn:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* Two column mode only styles */
@media only screen and (min-width : 992px) {
/* .row {
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
} */

.info-bar span {
 margin-left: 5px;
}

.top-right-corner {
  border-top-right-radius: 10px;
}

.bottom-right-corner {
  border-bottom-right-radius: 10px;
}

.top-left-corner {
  border-top-left-radius: 10px;
}
.bottom-left-corner {
  border-bottom-left-radius: 10px;
}

}


.chat {
  background-color: #FFFFFF;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow-y: auto;
}

.backplate {
  border-radius: 10px;
  /* background-color: #FFFFFF; */
  box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.15);
  margin-bottom: 50px;
}



.info-container  /* :not(:last-child)*/ {
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 0 1px 0 0;
  background-color: #FAFAFA;
}


.info-bottom-row-right-col {
}

/* .info-bottom-row-left-col {
  border-style: solid;
  border-width: 0px 0px 2px 0;
} */

.typing-indicator {
  height: 30px;
}

.typing-indicator span {
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 1px 0 1px;
  background-color: #FFFFFF;
  display: block;
  border-radius: 50%;
  opacity: 0.8;
}
.typing-indicator span:nth-of-type(1) {
  animation: 1.5s blink infinite 0.5s;
}
.typing-indicator span:nth-of-type(2) {
  animation: 1.5s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  animation: 1.5s blink infinite 0.9999s;
}
@keyframes blink {
  50% {
    opacity: 1;
    margin-top: 3px;
  }
}

.choice-btn {
  text-align: left;
  white-space: normal;
  width: 100%;
  background-color: #FAFAFA;
  border-style: solid;
  border-color: #33333316;
  border-width: 1px 0 0 0;
  border-radius: 0;
  color: #333333;
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 18px;
  padding: 14px 19px;
}

.choice-btn:disabled {
  color: #33333332;
  opacity: 1;
}

.selected:disabled {
  color: #333333;
}

@media (min-width: 550px) {
  .info-bottom-row-left-col {
    border-width: 0 2px 0 0;
  }

}
